.card{
    margin: 1% auto;
    border: 1px solid #ddd;
    width: 25%;
    padding: 1%;
    box-shadow: 0px 8px 8px -8px #000;
    text-align: center;
    border-radius: 1em;
}

a{
  text-decoration: none;
  color: #6A80E0;  
}

.btn{
    margin-top: 4%;
    display: block;
    background: #6A80E0;
    color: #fff;
    padding: 1%;
    text-align: center;
}

@media only screen and (min-width:320px) and (max-width:786px){
    .card{
        width: 90%;
    } 
}